<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8"/>
    <title>Library Tracker - Login / Signup</title>
    <link rel="stylesheet" href="/static/LandingPage/landing.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <div class="form">
            <h1>צור חשבון</h1>
            <span>בכדי להכנס לספרייה</span>
            <input id="signup_username" type="text" placeholder="שם משתמש" />
            <input id="signup_displayName" type="text" placeholder="שם תצוגה" />
            <input id="signup_password" type="password" placeholder="סיסמה" />
            <button onclick="handleSignup()">הרשמה</button>
        </div>
    </div>
    <div class="form-container sign-in-container">
        <div class="form">
            <h1>התחברות</h1>
            <span>התחבר לחשבון האישי שלך</span>
            <input id="login_username" type="text" placeholder="שם משתמש" />
            <input id="login_password" type="password" placeholder="סיסמה" />
            <button onclick="handleLogin()">התחבר</button>
        </div>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>ברוך שובך!</h1>
                <p>התחבר לחשבונך כדי להכנס לאתר</p>
                <button class="ghost" id="signIn">התחבר</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>חדש פה?</h1>
                <p>צור חשבון כדי לקבל גישה מלאה לספריית הישיבה!</p>
                <button class="ghost" id="signUp">הרשמה</button>
            </div>
        </div>
    </div>
</div>

<script src="/static/config.js"></script>
<script src="/static/LandingPage/landing.js"></script>

</body>
</html>
