<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Tracker - Login / Signup</title>
    <link rel="stylesheet" href="/static/LandingPage/landing.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <div class="form">
            <h1>צור חשבון</h1>
            <span>בכדי להכנס לספרייה</span>
            <input id="signup_username" type="text" placeholder="שם משתמש" />
            <input id="signup_displayName" type="text" placeholder="שם תצוגה" />
            <div class="password-wrapper">
                <input id="signup_password" type="password" placeholder="סיסמה" />
                <span class="eye-icon" id="signup-togglePassword">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" stroke-dasharray="2 2" />
                    <circle cx="12" cy="12" r="3" />
                    <line x1="2" y1="2" x2="22" y2="22" stroke="currentColor" stroke-width="2" />
                </svg>
            </span>
            </div>
            <button onclick="handleSignup()">הרשמה</button>
        </div>
    </div>
    <div class="form-container sign-in-container">
        <div class="form">
            <h1>התחבר</h1>
            <span>לחשבון האישי שלך</span>
            <input id="login_username" type="text" placeholder="שם משתמש" />
            <div class="password-wrapper">
                <input id="login_password" type="password" placeholder="סיסמה" />
                <span class="eye-icon" id="login-togglePassword">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" stroke-dasharray="2 2" />
                    <circle cx="12" cy="12" r="3" />
                    <line x1="2" y1="2" x2="22" y2="22" stroke="currentColor" stroke-width="2" />
                </svg>
            </span>
            </div>
            <button onclick="handleLogin()">התחבר</button>
        </div>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <div class="left-positioner">
                    <h1>ברוך שובך!</h1>
                    <p>התחבר לחשבונך כדי להכנס לאתר</p>
                    <button class="ghost" id="signIn">התחבר</button>
                </div>
            </div>
            <div class="overlay-panel overlay-right">
                <div class="right-positioner">
                    <h1>חדש פה?</h1>
                    <p>צור חשבון כדי לקבל גישה לספריית הישיבה!</p>
                    <button class="ghost" id="signUp">הרשמה</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/config.js"></script>
<script src="/static/LandingPage/landing.js"></script>

</body>
</html>